Source: wiibafu
Section: utils
Priority: extra
Maintainer: Kai Heitkamp <dynup@ymail.com>
Homepage: http://sf.net/p/wiibafu
Build-Depends: debhelper (>= 7.0.50~), qt4-qmake (>= 4.7), libqt4-dev (>= 4.7), libqtcore4 (>= 4.7), libqt4-gui (>= 4.7), libqt4-network (>= 4.7)
Standards-Version: 3.9.1
#Vcs-Git: git://git.debian.org/collab-maint/vibafu.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/vibafu.git;a=summary

Package: wiibafu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The complete and simply to use backup solution for your Wii games
 The complete and simply to use backup solution for your Wii games
 - List games from images, WBFS partitions and DVD with all game infos
 - Transfer game images to WBFS partition or file
 - Transfer game from DVD to WBFS or image
 - Patch game images (directly or while transfer)
 - Extract game contents from WBFS or images
 - Convert between game image formats
 - Diff images after transfer
 - Split game images while transfer or convert
 - Compare Files and WBFS game lists
 - Additional info tab for a compact overview and game cover
 - Load 3D and HQ game covers in different languages
 - Titles and Covers in different languages
 - Cover viewer for full HQ game covers with save possibility
 - Update title databases in all available languages*
 - Check and repair WBFS files and partitions
 - Create and format WBFS partitions and files
 - Supports scrubbing (data, update and channel partitions)
 - Supports GameCube images (experimental!)
 - Supported formats: ISO, CISO, WIA, WDF, WBFS files, WBFS partitions
 - Supports aqua or brushed metal style on Mac OS X
 - Supports the following languages: english, german, dutch, italian, spanish, french, norwegian
 Wii Backup Fusion needs 'Wiimm's ISO Tools' to run! Infos and download: http://wit.wiimm.de
